<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        <div class="container-fluid" id="index">
        
            include top.pug
            
            div(class="container white-background" style="margin-bottom:5vh;")
                div(class="text-center" style="margin-top:2vh;margin-bottom: 2vh")
                    h3 About Us

                <div style="float:left;">
                    <img id="floating" src="/about.jpg">
                    <h6 class="text-center">Manoj Bhandari, Troprietor</h6>
                </div>
                
                <p>
                    strong We focus on providing patients quality diagnostic healthcare services in India. Through our network, we offer patients convenient locations for their diagnostic healthcare services and efficient service. With over 3,368 diagnostic and related healthcare tests and services offered, we believe we are capable of performing substantially all of the diagnostic healthcare tests and services currently prescribed by physicians in India.
                </p>

                <p>
                    strong Our key competitive strengths are:
                    li(id="about-li") Business model focused on the patient as a customer and an established consumer healthcare brand associated with quality services, in a market where patients generally choose their diagnostic healthcare service provider.
                    li(id="about-li") Well-positioned to leverage upon one of the fastest-growing segments of the Indian healthcare industry.
                    li(id="about-li") A network whose growth yields greater economies of scale, combined with a “hub and spoke” model that is scalable for further growth.
                    li(id="about-li") Centralized information technology platform that fully integrates our network and is scalable.
                    li(id="about-li") Attractive financial performance, financial profile and return on invested capital.
                </p>

                div(class="text-center" style="margin-top:2vh;margin-bottom: 2vh")
                    h3 Mission

                <p>
                    li(id="about-li") “Where Quality, Service, innovation is a way of life".
                    li(id="about-li") We shall achieve excellence in diagnostic testing, information and services to become India's most valued company to patients, customers, colleagues, investors, business partners and the communities where we work and live in.
                    li(id="about-li") "Leadership in Diagnostics, through Technology & Innovation Excellence in Diagnostics, is our mantra Quality at your Doorstep Turning Data into Insight".
                </p>
            
                
    </body>

    include footer.pug

</html>