<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        <div class="container-fluid">
        
            include top.pug

            div(class="text-center")
                <img id="i01" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201804/medical-lab-technician-647.jpeg?B0B9VXySPT6Ry8j.HY.dSOj7kQ9UCj.E" />            
            
            div(class="container")
                <z>
                    Bhandari Pathology is a well developed pathology. As users discover your brand, they need to distinguish what sets you apart and makes you… you.
                    This often requires finding the right balance between compelling content and a design carefully planned to look the part.
                    Conveying your identity in a fun and approachable – but also reliable and informative – way is challenging.
                    If you know who you are and your goal for your site, the About Us page should come naturally.
                    However if you’re looking for some inspiration, you can always check out the following 25 awesome examples of About Us pages.
                    These examples will help you build a personal and engaging website journey.
                </z>
            
    </body>

    include footer.pug

</html>