<div style="background-color:white;margin-bottom:3vh;padding:2vw;border-radius:2vh" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-left">
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span><br>
        <p>
            strong We focus on providing patients quality diagnostic healthcare services in India. Through our network, we offer patients convenient locations for their diagnostic healthcare services and efficient service. With over 3,368 diagnostic and related healthcare tests and services offered, we believe we are capable of performing substantially all of the diagnostic healthcare tests and services currently prescribed by physicians in India.
        </p>
                        
        <div class="text-left" style="margin-bottom: 5vh">
            <h5 style="white">-Nishi Chaudhary</h5>
        </div>  
    </div>
    <div class="carousel-item">
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span><br>
        <p>
            At Avadann you can rest your trust in the founder Ms.Nidhi Dhaka and focus on your target. She has immense experience of the field and is a great mentor. At Avadann your curiosity would  be served with a platter of more knowledge and motivation in the right direction.
        </p>
                        
        <div class="text-left" style="margin-bottom: 5vh">
            <h5 style="white">-Nishi Chaudhary</h5>
        </div>  
    </div>
    <div class="carousel-item">
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span><br>
        <p>
            At Avadann you can rest your trust in the founder Ms.Nidhi Dhaka and focus on your target. She has immense experience of the field and is a great mentor. At Avadann your curiosity would  be served with a platter of more knowledge and motivation in the right direction.
        </p>
                        
        <div class="text-left" style="margin-bottom: 5vh">
            <h5 style="white">-Nishi Chaudhary</h5>
        </div>  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>