<div style="background-color:white;margin-bottom:3vh;padding:2vw;border-radius:2vh" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span><br>
        <p>
            strong Fast service. Fiendly and helpful staff. And quality of test "A" class. Sample taken facility from place of stay available- Beena.
        </p>
                        
        <div class="text-left" style="margin-bottom: 5vh">
            <h5 style="white">-Bindu Girl</h5>
        </div>  
    </div>
    <div class="carousel-item">
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span><br>
        <p>
            strong In my view you have not go anywohere else in uttarkashi...  You just go there and  get all ur test done in a cheap rate

        </p>
                        
        <div class="text-left" style="margin-bottom: 5vh">
            <h5 style="white">-Ashok Kumar Sharma</h5>
        </div>  
    </div>
    <div class="carousel-item">
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span>
        <span class="fa fa-star staring checked"></span><br>
        <p>
            strong Awsm experience at the lab, No need to go somewhere else. Good behaviour of lab staff also makes different in compare to other.
        </p>
                        
        <div class="text-left" style="margin-bottom: 5vh">
            <h5 style="white">-Arvind Negi</h5>
        </div>  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>