<footer>
    <div id="back-3" style="padding-top:3vh;padding-bottom:3vh">
        <div class="row text-center">
            <div class="col-sm-4">
                <h3 style="color: white"><strong>More Links</strong></h3>
                <br>
                <li><a href="https://www.lalpathlabs.com/blog/" target="_blank">Blog</a></li>
                <li><a href="/term-of-use.aspx">Terms of Use</a></li>
                <li><a href="/privacy-policy.aspx">Privacy Policy</a></li>
                <li><a href="/statutory-compliances.aspx">Statutory Compliance</a></li>
                <br><br>  
            </div>
            
            <div class="col-sm-4">
                <h3 style="color: white"><strong>Business Hours</strong></h3>
                <br>
                <li>Mon-Fri:    10:00 AM – 7:30 PM</li>
                <li>Sat,Sun:	Closed</li>
                <br>
                <li><strong>Website developer- <a href="https://www.instagram.com/bhandariarjit/" target="_blank">Arjit Bhandari</a></strong></li>
                <li><strong>For any queries about website,drop a message on</strong></li>
                <a href="https://wa.me/919456300762" target="_blank"><i class="fab fa-whatsapp" style="font-size:24px;background-color: #5fce19;color:white;border-radius:1vw"></i></a>
                <br><br>
            </div>
            
            <div class="col-sm-4">
                <h3 style="color: white"><strong>Contact Us</strong></h3>
                <br>
                <li>Mobile Number:- 919458392600</li>
                <br/>
                <a href="https://wa.me/919458392600" target="_blank">
                    <i class="fab fa-whatsapp" style="font-size:24px;background-color: #5fce19;color:white;border-radius:1vw"></i>
                </a>
                <i class="fab fa-facebook-square" style="font-size:24px;color:white "></i>
            </div>
        </div>
    </div>
</footer>