<footer>
    <section class="footer-likingwrap homebody-inner">
        <ul class="footer-listlink">
            <h2 class="linkhead">patients</h2>
            <li><a href="/book-a-test">Book a test</a></li>
            <li><a href="/offers-and-announcements.aspx">Offers and Announcements</a></li>
            <li><a href="/doctors.aspx">Search for Tests by Condition</a></li>
            <li><a href="/doctors.aspx">Search for Radiology Tests</a></li>
            <li><a href="/find-a-lab.aspx">Search for Labs</a></li>
            <li><a href="/home-collection-query-form.aspx">Home Collection Query Form</a></li>
            <li><a href="/mobileapp.aspx">Mobile App</a></li>
            <li><a href="/faqs.aspx">FAQ's</a></li>
            <li><a href="/tests-list.aspx">All Tests</a></li>
        </ul>
            
        <ul class="footer-listlink">
            <h2 class="linkhead">company</h2>
            <li><a href="/about-us.aspx">About Us</a></li>
            <li><a href="/investor/quarterly-results.aspx">Investors</a></li>
            <li><a href="/course/latest-courses.aspx">Courses</a></li>
            <li><a href="/current-openings">Careers</a></li>
            <li><a href="/find-a-lab.aspx" rel="health">Pan India Network</a></li>
            <li><a href="/international-business.aspx">International</a></li>
            <li><a href="https://www.lalpathlabs.com/blog/" target="_blank">Blog</a></li>
            <li><a href="/mri-ctscan-centres">MRI & CT Centres</a></li>
            <li><a href="/news.aspx">News</a></li>   
            <li><a href="/csr.aspx">CSR</a></li>
        </ul>
            
        <ul class="footer-listlink">
            <h2 class="linkhead">contact us</h2>
            <li><a href="/contact-us.aspx">Corporate Office </a></li>
            <li><a href="/company-information.aspx">Company Information </a></li>
            <li><a href="/general-enquiry.aspx">General Enquiry</a></li>
            <li><a href="/corporate-health-enquiry.aspx">Corporate Health Enquiry </a></li>
            <li><a href="https://report.lalpathlabs.com/" target="_blank">Franchisee Login</a></li>
            <li><a href="/partnerwithus">Partner With Us</a></li>
            <li><a href="/vendor_registration/vendorregisteration.aspx">Become a Vendor</a></li>
            <li><a href="/coupon-partners.aspx">Coupon Partners</a></li>                  
        </ul>
        <div class="clr"></div>
    </section>
    
    <section class="footer-bott">
        <div class="homebody-inner">
            <aside class="footer-bottleft">
                <div class="footercopy">
                    <a href="https://www.lalpathlabs.com/blog/" target="_blank">Blog</a> |
                    <a href="/csr.aspx" >CSR</a> |
                    <a href="/term-of-use.aspx">Terms of Use</a> |
                    <a href="/privacy-policy.aspx">Privacy Policy</a> |
                    <a href="/statutory-compliances.aspx">Statutory Compliance</a> |
                    <a href="/sitemap.aspx">Sitemap</a>
                    <span class="footer-second">
                        Only Pathology reports available online. For X-Ray, Ultrasound, ECG, TMT, Echo, PFT, Uroflowmetry reports please visit the concerned center where test has been conducted.
                    </span>
                </div>
            </aside>
            <aside class="footer-bottright">
                <div class="follow">Follow Us On:</div>
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/lalpathlabs" target="_blank" class="fblinkicon"></a></li>
                        <li><a href="https://twitter.com/lalpathlabs" class="twi twilinkicon" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="clr"></div>
            </aside>
            <div class="clr"></div>
        </div>
    </section>
</footer>