head
    title Bhandari Path Labs & Diagonstic Center
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <link rel="icon" href="/logo.jpg">
    <link rel="stylesheet" type="text/css" href="../pathology.css"> 
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../pathology.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="./google-maps-reviews.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../jquery.min.js"></script>
    <script src="../bootstrap.min_cloudfare.js"></script>
    <script src="../bootstrap.min.js"></script>
    <script src="../font-awesome5.js"></script>
    <script src="../lottie-player.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyD0lGMPTAE0PjRNpcuu6Vr3yOArCeULxig"></script>
    <script src="https://apis.google.com/js/api.js"></script>