<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>
        <div class="container-fluid">
        
            include top.pug

            <div class=" container card-group" id="cards">
                <div class="card">
                    <img class="card-img-top images" src="/i1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top images" src="/i2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top images" src="/i3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>

            <div class=" container card-group" id="cards">
                <div class="card">
                    <img class="card-img-top images" src="/i4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top images" src="/i5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top images" src="/i6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>         
        </div>
        
        <script src="./pathology.js"></script>
        <script src="./google.js"></script>
            
    </body>

    include footer.pug

</html>