
<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="bar">
    <a href="/" id="bar1" class="navbar-brand" >
        <img src="./logo.jpg" style="width:250px"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="font-size:24px;color:#e6e6ff"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><h5 class="dark">Home</h5><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about"><h5 class="dark">About</h5><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/staff"><h5 class="dark">Staff</h5><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/location"><h5 class="dark">Location</h5><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report"><h5 class="dark">Reports</h5><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center" id="head">
    <div >
        <img id="title" src="/title.jpg" />
    </div>   
    <div id="icons" class="text-right">
        <a href="https://wa.me/919458392600" target="_blank">
            <i class="fab fa-whatsapp" style="font-size:24px;background-color: #5fce19;color:white;border-radius:1vw"></i>
        </a>
        <i class="fab fa-facebook-square" style="font-size:24px;color:#2646cc "></i>
    </div>
</div>

