.container-fluid
{
    padding-left:0px!important;
    padding-right:0px!important;
    overflow-x:hidden;
}

#head
{
    padding-top: 10vh;
    background-color: rgb(241, 198, 7);
}

#plant, #doctors
{
    width:400px;
}

hr
{
    border: .5px solid rgba(237, 255, 246, 0.534);
    margin: 0;
}

#title
{
    width: 90vw;
    height: 25vh;
}

#back-1
{
    background-color: rgba(213, 214, 200, 0.507);
}

#back-2
{
    background-color: rgba(199, 202, 218, 0.795);
}

#back-3
{
    background-color: rgb(201, 181, 5);
}

img
{
    width: 60px;
    height: 60px;
}

/*-----------------------*/

#bar
{
    background-color: rgb(207, 193, 0);
}

#bar1
{
    padding-left: 10vw;
}

.navbar-toggler-icon
{
    outline: none;
}

p,#about-li
{
    font-size: 15px;
    font-family: 'Quicksand';
}

p
{
    text-align: justify;
}

h3
{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: rgb(10, 12, 114);
}


h4,h5
{
    font-family: 'Quicksand'
}

#doc_btn,#next_btn
{
    background-color: transparent;
    color:  rgb(26, 143, 118);
    border-color:  rgb(26, 143, 118);
    margin-left: 1vw;
    margin-bottom:3vh;
}

#doc_btn:hover,#next_btn:hover
{
    background-color:  rgb(26, 143, 118);
    color: white;
}

#certificate
{
    width: 25vw;
    height: 45vh;
}


.dark
{
    color:white;
}

#cards
{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.images
{
    height:50vh!important;
}

#i01
{
    width: 80vw!important;
    height: 50vh!important;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.card
{
    padding-right: 2vw!important;
}

z
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#icons
{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#map
{
    padding-top: 5vh;
    width: 80vw;
    height: 80vh;
    padding-bottom: 5vh;
}

#index
{
    background-color: rgb(240, 238, 238);
}

.white-background
{
    margin-top:5vh;
    background-color:white
}

li,a,a:hover
{
    color: white!important;
    font-family: 'Quicksand';
}

#floating
{
    width: auto;
    height: 35vh;
    margin-right: 2vw;
    margin-bottom: 0.1vw;
}

#about-li
{
    color: black!important;
}

.images
{
    width: 20vw;
    height: 35vh;
}

.col-sm-4
{
    margin-bottom: 2vw;
}

.staring
{
    color: rgb(255, 238, 0)
}


@media(max-width:550px){
    #plant,#doctors
    {
        width:300px;
    }

    #title
    {
        width: 95vw;
        height: 15vh;
    }

    #certificate
    {
        width: 80vw;
    }

    .images
    {
        width: 90vw;
    }
}
